// ABOUT SECTION

.about {
    padding: 100px 0;

    .aboutUs {
        margin-top: 40px; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px;

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            display: flex;
        }
    }

    h4 {
        text-align: center;
    }

    p {
        text-align: left;
    }
}

.aboutInfo {
    
    .icon {
        color: $primaryColor;
        display: inline-block;
        padding: 10px;
        border-radius: 50%;
        font-size: 2.5rem;
        width: 58px;
        height: 58px;
        border: 2px solid $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}




