header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow-x: hidden;
}

.headerImage {
    margin-top: 104px;
    width: 50%;
    height: 230px;
    background: url(../assets/header.jpg);
    background-size: cover;
    position: relative;
}

.headerInfo {
    border: 2px solid $grey;
    position: absolute;
    padding: 20px 40px 20px 0;
    width: 300px;
    left: -235px;
    top: 40px;
    z-index: 100;
    transition: all 1s;

    @media (max-width: 580px) {
        left: -150px;
        background: rgba(255, 255, 255, 0.7);
    }

    span {
        background: white;
        padding: 10px 0;
    }

    h1, p {
        
        position: relative;
        left: -13px;        
        display: inline-block;
    }

    h1 {
        padding-top: 30px;
        font-size: 2.5rem;
    }

    p {
        padding: 10px 0 30px;
        font-size: 1.4rem;
    }
}